body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



/* New css start */

body{
  font-family: 'Raleway', sans-serif;
}
.navbar-expand-sm .navbar-collapse{
  justify-content: center;
}
.navbar_box {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
nav.navbar.navbar-expand-sm {
  background: #e9e4e070;
  box-shadow: rgb(0 0 0 / 4%) 0px 4px 4px;
  align-items: center;
  padding: 14px 0;
  position: fixed;
  top: 0;
  width: 100%;
}
a.navbar-brand {
  font-size: 25px;
  font-weight: 900;
  color: #2B67F6;
  line-height: 29.35px;
}
a.navbar-brand:hover, a.navbar-brand:focus{
  color: #2B67F6;
  outline: none;
  border: none;
  box-shadow: none;
}
ul.navbar-nav li a {
  color: #000000;
  font-size: 18px;
  font-weight: 700;
  line-height: 18.78px;
  text-decoration: none;
}
ul.navbar-nav li a.active{
  color: #2B67F6;
}
ul.navbar-nav li a.started_btn.active{
  color:#fff;
}
ul.navbar-nav li a:hover{
  color:#2B67F6;
}
ul.navbar-nav li {
  margin: 0 20px;
}
ul.navbar-nav.navbar_right{
  align-items: center;
}
ul.navbar-nav.navbar_right li {
  margin: 0 5px;
}
.container {
  max-width: 1280px;
}
.navbar-nav li .started_btn {
  width: 100%;
  max-width: 130px;
  padding: 11px 15px;
  border-radius: 5px;
  font-size: 15px;
  color:#fff;
  font-weight: 600;
  background: #2B67F6;
}
.navbar-nav li .started_btn:hover{
  background: #2B67F6;
  color: #fff;
}
.mobile_icon{
  display: none;
}
.mobile_logo{
  background: url('/public/logo-004.png');

}
body {
  height: 100%;
}
.full_height{
  background: url('/public/home_bg.png');
  background-position: bottom right;
  background-repeat: no-repeat;
  height: calc(100vh - 80px);
}
html {
  height: 100%;
}
.connect_box h2{
  color: #000;
  font-size: 50px;
  line-height: 58.7px;
  font-weight: 800;
}
.connect_box h2 span{
  color: #2B67F6;
  font-weight: 900;
}
.connect_box {
  max-width: 500px;
  padding-top: 185px;
}
.connect_box.signup_box {
  padding-top: 135px;
}
.button_box {
  margin-top: 45px;
  max-width: 330px;
}
.button_box a {
  display: block;
  width: 100%;
  border: 2px solid #2B67F6;
  text-align: center;
  text-decoration: none;
  margin: 0 0 15px;
  padding: 15px 0;
  border-radius: 10px;
}
a.create_btn{
  background: #2B67F6;
  color:#fff;
}
.button_box a:hover{
  background: #2B67F6;
    color: #fff;
}
.connect_box p {
  font-size: 20px;
  font-weight: 500;
  line-height: 23.48px;
  margin: 15px 0;
}
.form_box label {
  display: block;
  color: #000000;
  font-size: 17px;
  font-weight: 700;
  line-height: 19.96px;
  margin-bottom: 8px;
}
.form_box input {
  height: 55px;
  border: 2px solid #A7A7A7;
  border-radius: 10px;
  padding: 0 15px;
  font-size: 17px;
  width: 100%;
}
.form_box input:focus{
  border-color: #2B67F6;
}
.form_box input:focus-visible {
  outline: none;
}
.input_box {
  margin-bottom: 20px;
}
.form_box {
  margin-top: 35px;
}
.form_box form {
  max-width: 450px;
}
input.submit_btn {
  background: #2B67F6;
  color: #fff;
  border-color: #2B67F6;
  font-size: 15px;
  font-weight: 600;
  line-height: 17.61px;
}
.login_btm_box{
  margin-top: -5px;
}
.login_btm_box p {
  font-size: 17px;
  font-weight: 700;
  line-height: 19.96px;
  color: #000;
  margin-top: 0;
}
.login_btm_box a {
  text-decoration: none;
  margin-left: 5px;
  color: #2B67F6;
}
.connect_box.signup_box {
  margin: 0px auto 0;
  padding-bottom: 50px;
}
.connect_box.signup_box h2, .connect_box.signup_box p {
  text-align: center;
}
.signup_box .form_box form{
  margin: 0 auto;
}
.connect_box.announce_box {
  max-width: 770px;
}
.announce_box .form_box form {
  max-width: 100%;
}
.textarea textarea {
  width: 100%;
  height: 210px;
  margin-bottom: 20px;
  padding: 15px;
  border: 2px solid #B6B6B6;
  border-radius: 10px;
}
.textarea textarea:focus-visible{
  outline: none;
}
.textarea textarea:focus{
  border-color: #2B67F6;
}
.announce_box input.submit_btn {
  max-width: 450px;
}
.mobile_img{
  display: none;
}


@media screen and (max-width: 767px) {
  
.connect_box h2{
  font-size: 45px;
  line-height: 48px;
  text-align: center;
  padding: 46px 0px 0px 0px;
}
.button_box{
  margin: 45px auto 0;
}
.connect_box {
  max-width: 90%;
  margin: 0 auto;
}
.full_height{
  background-size: 300px auto;
  background: none;
  height: calc(100vh - 0px);
  position: relative;
  overflow: hidden;

}
.full_height.mobile_box {
  background: none;
  height: auto;
}
.connect_box.signup_box h2 {
  max-width: initial;
}
.form_box form {
  margin: 0 auto;
  border: 2px solid #DADADA;
  padding: 25px 25px 10px;
  border-radius: 13px;
  max-width: 100%;
}
input.submit_btn, .button_box a{
  border-radius: 30px;
}
.announce_box .form_box form{
  border: none;
  padding: 0;
}
.connect_box.announce_box h2 {
  margin: 0 auto;
  max-width: 100%;
  text-align: center;
}
.connect_box.announce_box{
  max-width: 90%;
}
.connect_box.login_page h2 , .connect_box.login_page p {
  text-align: center;
}
span.desk_text {
  position: relative;
  top: 5px;
}
a.navbar-brand {
  font-size: 17px;
}
.mobile_img img {
  width: 320px;
  float: right;
}
.mobile_img{
    position: absolute;
    /* bottom: -15%; */
    width: 100%;
}
.mobile_img{
  display: block;
}
.connect_box.login_page, .connect_box.announce_box {
  padding-bottom: 35px;
}
    
}

@media screen and (max-width: 991px) and (min-width: 768px) {
  .full_height{
    background-size: 40% auto;
    height: 97vh;
  }
  
  .show .navbar-nav{
    display: block;
  }
  .desk_text {
    display: block !important;
}
.mobile_logo{
  display: none !important;
}
.navbar_right .desk_text{
  display: none !important;
}
.navbar_box a.navbar-brand{
  font-size: 30px;
  position: relative;
  top: 8px;
}

}

@media screen and (max-width: 991px) {
  nav{
    z-index:1;
  }
  .showicon span.mid_bord{
    width:0;
    opacity: 0;
  }
    span.desk_text_sign {
      display: none;
    }
  .showicon span.top_bord{
    position: absolute;
    top: 20px;
    border-radius: 4px;
    transform: rotate(45deg);
  }
  .showicon .btm_bord{
    position: absolute;
    top: 20px;
    border-radius: 4px;
    transform: rotate(-45deg);
  }
  .mobile_icon {
      display: block;
    }
  
    button.navbar-toggler {
      height: 50px;
      border: none;
      padding: 0;
    }
        div#collapsibleNavbar.show{
      display: block !important;
    }
    .navbar-expand-sm .navbar-toggler{
  display: block;
  width: 20px;
}
ul.navbar-nav.navbar_right {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
}
button.navbar-toggler {
  height: 50px;
  border: none;
  padding: 0;
  /* position: absolute;
    right:0px; */
}

.mobile_logo {
  display: block;
}



a.navbar-brand {
  font-size: 15px;
}

.navbar_box {
  position: relative;
}

ul.navbar-nav.navbar_right {
  flex-direction: inherit;
}

span.top_bord {
  transform: rotate(0deg);
  transition: all 250ms ease-in 0s;
  width: 20px;
  height: 2px;
  background-color: rgb(0, 0, 0);
  margin: 3px 0px;
}

span.mid_bord {
  transform: rotate(0deg);
  transition: all 250ms ease-in 0s;
  height: 2px;
  background-color: rgb(0, 0, 0);
  margin: 6px 0px;
  width: 16px;
}

.btm_bord {
  transform: rotate(0deg);
  transition: all 250ms ease-in 0s;
  width: 20px;
  height: 2px;
  background-color: rgb(0, 0, 0);
  margin: 3px 0px;
}

.navbar-toggler span {
  display: block;
}

button.navbar-toggler:focus {
  border: none;
  outline: none;
  box-shadow: none;
}

div#collapsibleNavbar {
  position: absolute;
  width: 100%;
  background: #fff;
  height: 100vh;
  display: none !important;
  transition: all 0.2s linear 0s;
  animation-name: fadeInBottom;
  animation-duration: 0.2s;
    animation-fill-mode: both;
}
/* div#collapsibleNavbar.show{
  
} */
div#collapsibleNavbar li a {
  background-image: linear-gradient(to right, rgb(0, 0, 0) 10%, rgba(255, 255, 255, 0) 0%);
  background-position: center bottom;
  background-size: 10px 1px;
  background-repeat: repeat-x;
  font-size: 1rem;
  line-height: 1;
  font-weight: bold;
  color: rgb(0, 0, 0);
  padding: 24px 0px;
  display: block;
}

ul.navbar-nav li {
  margin: 0 15px;
}
a.navbar-brand{
  z-index: 999;
}
.show ul.navbar-nav {
  padding-top: 50px;
  display: block;
}
.toggle_navbar {
  z-index: 999;
  position: relative;
}
.container{
  padding: 0px;
}
.toggle_navbar {
  padding-right: 15px;
}
a.navbar-brand{
  padding-left: 15px;
}
.connect_box{
  padding: 100px 15px 0;
}


@keyframes fadeInBottom {
  from {
    opacity: 0;
    transform: translateY(5%);
  }

  to {
    transform: translateY(0%);
    opacity: 1
  }
}



}


@media screen and (max-width: 1200px) and (min-width: 992px) {
  ul.navbar-nav li a{
    font-size: 16px;
  }
    ul.navbar-nav li {
      margin: 0 10px;
    }
    .full_height{
      height: 98vh;
    }

}

@media screen and (max-width: 1400px) and (min-width: 1201px) {
  .full_height {
      height: 98vh;
    }
}


.styled-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 750px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);

}

.styled-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
    text-align: center;
}


.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.styled-table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}

.personal-space {
  font-size: 20px;
}
/* New css end */